streamlit
fastapi
uvicorn
python-multipart
pandas
scikit-learn
rapidfuzz
opencc-python-reimplemented
transformers
sentencepiece
sacremoses
stanza
torch
openpyxl
deep-translator
openai
requests
watchdog